body {
    background-color: #D2B48C;
}

#center
 {
 margin-left:auto;
 margin-right:auto;
 margin-top:200px;
 margin-bottom:auto;
 width:60%;
 background:#FFFF99;
 
 
}

.coral {
    background-color: #F08080;
}

#wrap {
    width: 1240px;
    margin: 0 auto;
    background: #c9c;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

#nav {background:gray; padding:10px; text-align:center; }


.alt {
    background-color: #FFE89C;
    text-align: center;
}

.textCenter {
    text-align: center;
}

ul { margin:0px; padding:0; list-style:none; }
li { margin-left:20px; margin-bottom:20px; padding:0; display:inline }

#header { background:#FFFF99; padding:5px 10px;  }